<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
    </head>
    
    <body>
        <%- include('partials/daynight.ejs'); %>
        <header>
            <%- include('partials/header.ejs', {login: logine, date: year}); %>
        </header>
        
        <main>
            
            <table class="table" id="events" width="100%"> 
                <caption class = "captionglobal"><h3>Liste des évènements à venir</h3></caption>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Date</th>
                </tr>
            </table>
            
            <%= tevents %> <%= devents %> <%= levents %> <%= daevents %>  

        </main>

    </body>
</html>
